#comment-card-box {
  width: 60vw;
  height: flex;
  margin-left: 20vw;
  margin-top: 1vw;
  color: white;
  background-color: rgba(26, 3, 21, 0.8);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
#comment-text {
  padding-left: 2vw;
  padding-left: 2vw;
}
#date {
  padding-left: 40vw;
  padding-top: 2vw;
  font-size: 0.8em;
}

#author-image {
  border-radius: 100%;
  width: 5vw;
  height: 5vw;
  margin-top: 1vw;
  margin-left: 1vw;
}
.hidden {
  display: none;
}
#delete-comment {
  margin: 1vw;
  height: 3vw;
  width: 10vw;
  font-size: 1.2em;
}
#delete-comment:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  #comment-card-box {
    width: 70vw;
    margin-left: 15vw;
  }
}
@media only screen and (max-width: 480px) {
  #delete-comment {
    width: 50vw;
    height: 10vw;
    margin-left: 10vw;
  }
  #date {
    margin-left: 5vw;
    padding-left: 10vw;
  }
  #author-image {
    width: 15vw;
    height: 15vw;
  }
}
@media only screen and (max-width: 360px) {
  #comment-card-box {
    width: 90vw;
    margin-left: 5vw;
  }
  #author-image {
    margin-left: 35vw;
  }
  #delete-comment {
    margin-left: 20vw;
  }
}
