#profile-bar-container {
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
}
#profile-pic {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  margin-left: 5vw;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#profile-pic:hover {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}
#friends-bar {
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  flex-direction: row;
  margin-left: 60vw;
}
li {
  list-style-type: none;
  margin-left: 0.5vw;
}
.friend-profile-pic {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.friend-profile-pic:hover {
  cursor: pointer;
  width: 4vw;
  height: 4vw;
}
figcaption {
  color: transparent;
  text-align: right;
}
figure {
  margin-left: -3vw;
}
figcaption:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
#link {
  text-decoration: none;
  color: transparent;
}
#link:hover {
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
#new-friend-box {
  color: white;
  background-color: rgba(26, 3, 21);
  padding: 2vw;
  position: relative;
  top: 7vw;
  right: 15vw;
  border-radius: 5%;
}
.hide-box {
  display: none;
}
#search-users-button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  #new-friend-box {
    right: 30vw;
  }
  #add-new-friend-pic {
    width: 8vw;
    height: 8vw;
  }
  ul {
    margin-left: 50vw;
  }
}
@media only screen and (max-width: 780px) {
  ul {
    margin-left: 40vw;
  }
}
@media only screen and (max-width: 480px) {
  ul {
    margin-left: 40vw;
  }

  #profile-pic {
    width: 10vw;
    height: 10vw;
  }
  #new-friend-box {
    right: 40vw;
    top: 15vw;
  }
  #add-new-friend-pic {
    width: 15vw;
    height: 15vw;
  }
}
@media only screen and (max-width: 360px) {
  ul {
    margin-left: 5vw;
  }

  #profile-pic {
    width: 20vw;
    height: 20vw;
    margin-top: 3vw;
  }
  #profile-pic:hover {
    width: 22vw;
    height: 22vw;
  }
  #new-friend-box {
    right: 50vw;
  }
}
