#specific-trip-info {
  background-color: rgba(26, 3, 21, 0.6);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  width: 80vw;
  min-height: 60vh;
  height: flex;
  margin: auto;
  margin-top: -5vh;
  color: white;
}
#destination-view {
  text-align: center;
  font-size: 2.5em;
}
.times {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#time-left {
  text-align: center;
}
.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.trip-buttons {
  margin-top: 15vh;
  height: 5vw;
  width: 15vw;
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.trip-buttons:hover {
  height: 6vw;
  width: 16vw;
  cursor: pointer;
}
.edit-window {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-color: rgba(26, 3, 21);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  width: 80vw;
  height: 50vh;
  margin: auto;
}
.hiddenOption {
  display: none;
}
@keyframes slider {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}
@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}

.opened {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 70vh;
  margin-top: -5vh;

  animation-name: slider;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: slider;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  color: white;
  background-color: rgba(26, 3, 21, 0.8);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
.opened button:hover {
  cursor: pointer;
}
.update-trip-button {
  margin-top: 3vw;
  font-size: 2em;
}
