#App {
  overflow: scroll;
}
#specific-trip-info {
  background-color: rgba(26, 3, 21, 0.6);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  width: 80vw;
  min-height: 60vh;
  height: flex;
  margin: auto;
  margin-top: -5vh;
  color: white;
}
#destination-view {
  text-align: center;
  font-size: 2.5em;
}
.times {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#time-left {
  text-align: center;
}
.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.trip-buttons {
  margin-top: 15vh;
  height: 5vw;
  width: 15vw;
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 5vw;
}

.trip-buttons:hover {
  height: 6vw;
  width: 16vw;
  cursor: pointer;
}
.edit-window {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-color: rgba(26, 3, 21);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  width: 80vw;
  height: 50vh;
  margin: auto;
}
.hiddenOption {
  display: none;
}
@keyframes slider {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}
@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}

.opened {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 70vh;
  margin-top: -5vh;

  animation-name: slider;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: slider;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  color: white;
  background-color: rgba(26, 3, 21, 0.8);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
.opened button:hover {
  cursor: pointer;
}
.update-trip-button {
  margin-top: 3vw;
  font-size: 2em;
}
#with-friends {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}

#with-friends ul {
  margin-left: 0vw;
}
#add-comment-button {
  margin-left: 28vw;
  width: 25vw;
  margin-top: 5vh;
  height: 5vw;
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1vw;
}
#add-comment-button:hover {
  cursor: pointer;
}
#new-comment-box {
  background-color: rgb(26, 3, 21);
  width: 60vw;
  height: 20vw;
  margin: auto;
  margin-top: -15vw;
  position: relative;
}
#new-comment-box input {
  width: 50vw;
  margin-left: 5vw;
}
.comment-buttons {
  width: 4vw;
  height: 10vw;
  font-size: 1.4em;
}
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.comment-buttons:hover {
  cursor: pointer;
}
#new-comment {
  width: 45vw;
  margin-left: 7.5vw;
  margin-top: 2vw;
}
#edit-box {
  padding: 2vw;
}
@media only screen and (max-width: 1100px) {
  .trip-buttons {
    width: 20vw;
  }
}
@media only screen and (max-width: 700px) {
  .times {
    flex-direction: column;
  }
  .times-align {
    text-align: center;
  }
  .button-bar {
    flex-direction: column;
  }
  .trip-buttons {
    margin: auto;
    width: 30vw;
    height: 7vw;
    margin-bottom: 1vw;
  }
  .trip-buttons:hover {
    width: 30vw;
    height: 7vw;
  }
  #add-comment-button {
    width: 40vw;
    margin-left: 20vw;
  }
  .comment-buttons {
    width: 20vw;
  }
  #new-comment-box {
    height: 30vw;
  }
}
@media only screen and (max-width: 480px) {
  .trip-buttons {
    width: 60vw;
    height: 12vw;
  }
  #add-comment-button {
    width: 60vw;
    height: 12vw;
    margin-left: 10vw;
  }
  .trip-buttons:hover {
    width: 60vw;
    height: 12vw;
  }
  #new-comment-box {
    width: 80vw;
    height: 20vh;
  }
  #new-comment {
    width: 65vw;
  }
  @media only screen and (max-width: 900px) {
    #edit-box {
      width: 70vw;
      display: block;
      margin-bottom: 100px;
      margin-left: 15vw;
    }
  }
}
