#link {
  text-decoration: none;
}

#trip-main-view {
  background-color: rgba(26, 3, 21, 0.6);
  color: white;
  width: 15vw;
  height: 150px;
  border-radius: 20px;
  margin-left: 5vw;
  margin-bottom: 1em;
  margin-top: 1em;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#trip-main-view:hover {
  width: 17vw;
  cursor: pointer;
}
.trip {
  text-align: center;
}

#city {
  font-size: 2em;
  padding-top: 3vh;
}

@media (max-width: 1100px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }
  #trip-main-view {
    width: 80vw;
    margin-left: 10vw;
  }
  #trip-main-view:hover {
    width: 80vw;
    height: 160px;
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }
  #trip-main-view {
    width: 80vw;
    margin-left: 10vw;
  }
}
